.model-container {
  background-color: #fff;
  width: 900px;
  min-height: 300px;
  position: relative;
}

.icon-close {
  float: right;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}

.icon-close:hover {
  background-color: red;
  opacity: 0.8;
}

#edit__upload-photo,
#add__upload-photo {
  display: none;
}

.model-add input,
.model-edit input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px;
  margin: 4px;
}

span {
  cursor: pointer;
}
