#table-image-list {
  background-color: #fff;
  border-collapse: collapse;
  border-left: 4px solid #949494;
}

#table-image-list th {
  background-color: #4e73df;
  color: #fff;
}

#table-image-list th,
#table-image-list td {
  padding: 8px;
}

#table-image-list tr:nth-child(odd) {
  background-color: #ccc;
}

#table-image-list button {
  background-color: red;
  color: #fff;
  border: 0px solid #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
