.category {
  padding: 16px 0;
  position: relative;
  line-height: 50px;
}

.category__name {
  display: inline-block;
  text-transform: uppercase;
  width: 70%;
}

.category__sort {
  display: flex;
  float: right;
  width: 30%;
  align-items: center;
  justify-content: flex-end;
}

.category__sort p {
  display: contents;
}

.category #sort {
  background: #fff;
  width: 160px;
  height: 40px;
  margin: 0 10px;
}

.empty-notify {
  text-align: center;
  font-size: 1.8rem;
  padding: 50px 30px 100px;
  color: red;
}
